---
name: PR Tests

'on':
  push:
    branches:
      - main

  pull_request:

jobs:
  ruby-style:
    name: 'Ruby Style'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: "Install Ruby"
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 4.0.1
          bundler-cache: true
      - run: bundle exec rake rubocop

  spec-tests:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    strategy:
      matrix:
        ruby:
          - '3.2'  # Puppet 8
          - '3.3'
          - '3.4'
          - '4.0'  # Latest

    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Spec tests
        run: |
          if [ "${{ matrix.ruby }}" = "4.0" ]; then
            bundle exec rspec spec/classes
          else
            bundle exec rake parallel_spec
          fi
